spring:
  application:
    name: my-blog

  datasource:
    url: jdbc:mysql://localhost:3306/blog_db
    username: root
    password: Chipheo2k3@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret-key: 74b9e1270f3191f474515f6662e7de694f699645bb53a83beda2f83377e32635