spring:
  application:
    name: my-blog

  datasource:
    url: jdbc:mysql://localhost:3306/fa_db
    username: root
    password: Chipheo2k3@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect